[submodule "Vendor/JSONKit"]
	path = Vendor/JSONKit
	url = https://github.com/grgcombs/JSONKit.git
[submodule "Vendor/Kal"]
	path = Vendor/Kal
	url = https://github.com/grgcombs/Kal.git
[submodule "Vendor/SVWebViewController"]
	path = Vendor/SVWebViewController
	url = https://github.com/grgcombs/SVWebViewController.git
[submodule "Vendor/IntelligentSplitViewController"]
	path = Vendor/IntelligentSplitViewController
	url = https://github.com/grgcombs/IntelligentSplitViewController.git
[submodule "Vendor/AppendingFlowView"]
	path = Vendor/AppendingFlowView
	url = https://github.com/grgcombs/AppendingFlowView.git
[submodule "Vendor/TTTOrdinalNumberFormatter"]
	path = Vendor/TTTOrdinalNumberFormatter
	url = https://github.com/grgcombs/TTTOrdinalNumberFormatter.git
[submodule "Vendor/S7GraphView"]
	path = Vendor/S7GraphView
	url = https://github.com/grgcombs/Customed-s7graphview.git
[submodule "Vendor/DDActionHeaderView"]
	path = Vendor/DDActionHeaderView
	url = https://github.com/grgcombs/DDActionHeaderView.git
[submodule "Vendor/SDWebImage"]
	path = Vendor/SDWebImage
	url = https://github.com/grgcombs/SDWebImage.git
